<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ctas.test.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="ctas.test.entity.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="employee_num" property="employeeNum" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="work_city_id" property="workCityId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="work_status" property="workStatus" jdbcType="BIT" />
    <result column="position_id" property="positionId" jdbcType="INTEGER" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="isMarry" property="ismarry" jdbcType="BIT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="interest" property="interest" jdbcType="VARCHAR" />
    <result column="recommended" property="recommended" jdbcType="VARCHAR" />
    <result column="professional_title" property="professionalTitle" jdbcType="VARCHAR" />
    <result column="identify_card" property="identifyCard" jdbcType="VARCHAR" />
    <result column="bank_card" property="bankCard" jdbcType="VARCHAR" />
    <result column="open_bank" property="openBank" jdbcType="VARCHAR" />
    <result column="comunication_addr" property="comunicationAddr" jdbcType="VARCHAR" />
    <result column="home_addr" property="homeAddr" jdbcType="VARCHAR" />
    <result column="urgency_contact" property="urgencyContact" jdbcType="VARCHAR" />
    <result column="urgency_contact_telephone" property="urgencyContactTelephone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, employee_num, name, mobile_phone, department_id, work_city_id, company_id, work_status, 
    position_id, nation, sex, isMarry, email, interest, recommended, professional_title, 
    identify_card, bank_card, open_bank, comunication_addr, home_addr, urgency_contact, 
    urgency_contact_telephone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="ctas.test.entity.Employee" >
    insert into employee (id, employee_num, name, 
      mobile_phone, department_id, work_city_id, 
      company_id, work_status, position_id, 
      nation, sex, isMarry, email, 
      interest, recommended, professional_title, 
      identify_card, bank_card, open_bank, 
      comunication_addr, home_addr, urgency_contact, 
      urgency_contact_telephone)
    values (#{id,jdbcType=INTEGER}, #{employeeNum,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{mobilePhone,jdbcType=VARCHAR}, #{departmentId,jdbcType=INTEGER}, #{workCityId,jdbcType=INTEGER}, 
      #{companyId,jdbcType=INTEGER}, #{workStatus,jdbcType=BIT}, #{positionId,jdbcType=INTEGER}, 
      #{nation,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{ismarry,jdbcType=BIT}, #{email,jdbcType=VARCHAR}, 
      #{interest,jdbcType=VARCHAR}, #{recommended,jdbcType=VARCHAR}, #{professionalTitle,jdbcType=VARCHAR}, 
      #{identifyCard,jdbcType=VARCHAR}, #{bankCard,jdbcType=VARCHAR}, #{openBank,jdbcType=VARCHAR}, 
      #{comunicationAddr,jdbcType=VARCHAR}, #{homeAddr,jdbcType=VARCHAR}, #{urgencyContact,jdbcType=VARCHAR}, 
      #{urgencyContactTelephone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ctas.test.entity.Employee" >
    insert into employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="employeeNum != null" >
        employee_num,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobilePhone != null" >
        mobile_phone,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="workCityId != null" >
        work_city_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="workStatus != null" >
        work_status,
      </if>
      <if test="positionId != null" >
        position_id,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="ismarry != null" >
        isMarry,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="interest != null" >
        interest,
      </if>
      <if test="recommended != null" >
        recommended,
      </if>
      <if test="professionalTitle != null" >
        professional_title,
      </if>
      <if test="identifyCard != null" >
        identify_card,
      </if>
      <if test="bankCard != null" >
        bank_card,
      </if>
      <if test="openBank != null" >
        open_bank,
      </if>
      <if test="comunicationAddr != null" >
        comunication_addr,
      </if>
      <if test="homeAddr != null" >
        home_addr,
      </if>
      <if test="urgencyContact != null" >
        urgency_contact,
      </if>
      <if test="urgencyContactTelephone != null" >
        urgency_contact_telephone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeNum != null" >
        #{employeeNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="workCityId != null" >
        #{workCityId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="workStatus != null" >
        #{workStatus,jdbcType=BIT},
      </if>
      <if test="positionId != null" >
        #{positionId,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="ismarry != null" >
        #{ismarry,jdbcType=BIT},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="interest != null" >
        #{interest,jdbcType=VARCHAR},
      </if>
      <if test="recommended != null" >
        #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="professionalTitle != null" >
        #{professionalTitle,jdbcType=VARCHAR},
      </if>
      <if test="identifyCard != null" >
        #{identifyCard,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="comunicationAddr != null" >
        #{comunicationAddr,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null" >
        #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="urgencyContact != null" >
        #{urgencyContact,jdbcType=VARCHAR},
      </if>
      <if test="urgencyContactTelephone != null" >
        #{urgencyContactTelephone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="ctas.test.entity.Employee" >
    update employee
    <set >
      <if test="employeeNum != null" >
        employee_num = #{employeeNum,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null" >
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=INTEGER},
      </if>
      <if test="workCityId != null" >
        work_city_id = #{workCityId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="workStatus != null" >
        work_status = #{workStatus,jdbcType=BIT},
      </if>
      <if test="positionId != null" >
        position_id = #{positionId,jdbcType=INTEGER},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="ismarry != null" >
        isMarry = #{ismarry,jdbcType=BIT},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="interest != null" >
        interest = #{interest,jdbcType=VARCHAR},
      </if>
      <if test="recommended != null" >
        recommended = #{recommended,jdbcType=VARCHAR},
      </if>
      <if test="professionalTitle != null" >
        professional_title = #{professionalTitle,jdbcType=VARCHAR},
      </if>
      <if test="identifyCard != null" >
        identify_card = #{identifyCard,jdbcType=VARCHAR},
      </if>
      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>
      <if test="openBank != null" >
        open_bank = #{openBank,jdbcType=VARCHAR},
      </if>
      <if test="comunicationAddr != null" >
        comunication_addr = #{comunicationAddr,jdbcType=VARCHAR},
      </if>
      <if test="homeAddr != null" >
        home_addr = #{homeAddr,jdbcType=VARCHAR},
      </if>
      <if test="urgencyContact != null" >
        urgency_contact = #{urgencyContact,jdbcType=VARCHAR},
      </if>
      <if test="urgencyContactTelephone != null" >
        urgency_contact_telephone = #{urgencyContactTelephone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ctas.test.entity.Employee" >
    update employee
    set employee_num = #{employeeNum,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=INTEGER},
      work_city_id = #{workCityId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      work_status = #{workStatus,jdbcType=BIT},
      position_id = #{positionId,jdbcType=INTEGER},
      nation = #{nation,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      isMarry = #{ismarry,jdbcType=BIT},
      email = #{email,jdbcType=VARCHAR},
      interest = #{interest,jdbcType=VARCHAR},
      recommended = #{recommended,jdbcType=VARCHAR},
      professional_title = #{professionalTitle,jdbcType=VARCHAR},
      identify_card = #{identifyCard,jdbcType=VARCHAR},
      bank_card = #{bankCard,jdbcType=VARCHAR},
      open_bank = #{openBank,jdbcType=VARCHAR},
      comunication_addr = #{comunicationAddr,jdbcType=VARCHAR},
      home_addr = #{homeAddr,jdbcType=VARCHAR},
      urgency_contact = #{urgencyContact,jdbcType=VARCHAR},
      urgency_contact_telephone = #{urgencyContactTelephone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>